<header class="page-header">
    <div class="container">
        <div class="page-header__wrapper">
            <div class="page-header__logo">
                <a href="./main.html">
                    <img
                        class="page-header__logo--desktop"
                        src="./img/logo.png"
                        height="26"
                        width="155"
                        alt=""
                    />
                    <img
                        class="page-header__logo--tablet"
                        src="./img/logo-tablet.png"
                        width="89"
                        height="26"
                        alt=""
                    />
                </a>
            </div>
            <button class="page-header__menu-button"></button>
            <nav class="page-header__nav">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-item">
                        <a href="./pay-delivery.html">Company</a>
                    </li>
                    <li class="page-header__nav-item">
                        <a href="./page-result.html">Shop</a>
                    </li>
                    <li class="page-header__nav-item">
                        <a href="./support.html">Support</a>
                    </li>
                </ul>
            </nav>
            <div class="page-header__search">
                <a class="page-header__search-button"
                    ><img src="./img/search.png" width="30" height="30" alt=""
                /></a>
            </div>
            <div class="page-header__contacts">
                <span>+38(000)000-00-00</span>
            </div>
            <button class="page-header__partner-button" type="button">
                Become a partner
            </button>
        </div>
    </div>
    <div class="page-header__bottom">
        <div class="container">
            <div class="page-header__bottom-wrapper">
                <ul class="page-header__menu page-header__menu--general">
                    <li
                        class="page-header__menu-item page-header__menu-item--mobile"
                    >
                        <a href="./index.html">
                            Catalogue
                            <span class="page-header__menu-item--text"
                                >products</span
                            >
                        </a>
                    </li>
                    <li class="page-header__menu-item">
                        <a href="./pay-delivery.html">Payment and delivery</a>
                    </li>
                    <li class="page-header__menu-item">
                        <a href="./garancy.html">Guarantee</a>
                    </li>
                    <li class="page-header__menu-item">
                        <a href="./adress.html">Partner store addresses</a>
                    </li>
                </ul>
                <ul class="page-header__menu page-header__menu--privat">
                    <li
                        class="page-header__menu-item page-header__menu-item--mobile"
                    >
                        <a
                            class="page-header__menu-item--goods"
                            href="./editing.html"
                            ><span>Items</span></a
                        >
                    </li>
                    <li class="page-header__menu-item">
                        <a
                            class="page-header__menu-item--profile"
                            href="./editing.html"
                            ><span>John</span></a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
