<footer class="page-footer">
    <div class="container">
        <div class="page-footer__wrapper">
            <div class="page-footer__column">
                <a class="page-footer__logo" href="./main.html"
                    ><img src="./img/logo.png" width="121" height="22" alt=""
                /></a>
                <p class="page-footer__item">John John</p>
                <p class="page-footer__item">Washington 56430</p>
                <p class="page-footer__item">New York 33221</p>
                <p class="page-footer__item page-footer__item--policy">
                    <span>Privacy Policy</span>
                </p>
            </div>
            <div class="page-footer__column">
                <h3 class="page-footer__heading">Payment Methods</h3>
                <ul class="page-footer__list page-footer__list--payment">
                    <li
                        class="page-footer__item page-footer__item--payment page-footer__item--card"
                    >
                        <span>Bank cards</span>
                    </li>
                    <li
                        class="page-footer__item page-footer__item--payment page-footer__item--bitcoin"
                    >
                        <span>Bitcoin</span>
                    </li>
                    <li
                        class="page-footer__item page-footer__item--payment page-footer__item--revolut"
                    >
                        <span>REVOLUT</span>
                    </li>
                    <li
                        class="page-footer__item page-footer__item--payment page-footer__item--bank"
                    >
                        <span>Banks and terminals</span>
                    </li>
                </ul>
            </div>
            <div class="page-footer__column page-footer__column--social">
                <h3 class="page-footer__heading page-footer__heading--social">
                    Social networks
                </h3>
                <ul class="page-footer__list page-footer__list--social">
                    <li
                        class="page-footer__item page-footer__item--social page-footer__item--youtube"
                    >
                        <span>YouTube</span>
                    </li>
                    <li
                        class="page-footer__item page-footer__item--social page-footer__item--vk"
                    >
                        <span>Twitter</span>
                    </li>
                    <li
                        class="page-footer__item page-footer__item--social page-footer__item--facebook"
                    >
                        <span>Facebook</span>
                    </li>
                    <li
                        class="page-footer__item page-footer__item--social page-footer__item--instagram"
                    >
                        <span>Instagram</span>
                    </li>
                </ul>
            </div>
            <div class="page-footer__column">
                <h3 class="page-footer__heading">FAQ</h3>
                <ul class="page-footer__list">
                    <li class="page-footer__item">Why choose us?</li>
                    <li class="page-footer__item">
                        Where to buy our products?
                    </li>
                    <li class="page-footer__item">Payment and delivery</li>
                    <li class="page-footer__item">Support and Updates</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page-footer__copyright">
        <p>Copyright © 2000-2150 <span>All rights reserved.</span></p>
    </div>
</footer>
